<!--
<div>
 
  Product Title : {{title}}   
  <br>

  
  <img [src] = "imgUrl"/>
  <br>
<br>
 
  <button (click)="buyNow()">Add to cart</button>

  <br><br>


   <input type="text" [(ngModel)]="name"/>
   <p>{{name}}</p>
</div>
-->


<nav class="navbar">
  <div class="logo">
    <a routerLink="/">MyApp</a>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active" >Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    <li><a routerLink="/add-faculty" routerLinkActive="active">Add Faculty</a></li>
  </ul>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>




